body {
  font-family: 'Bebas Neue', sans-serif;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
}

p {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
}

.navbar-brand {
  font-family: 'Bebas Neue', sans-serif;
}
